<ng-container *ngIf="isWebView">
    <div class="container">
        <div class="main">
            About me
        </div>
        <div class="sub-title">
            Hi, my name is Jacopo and I'm a front-end developer.
        </div>
        <div class="section">
            <div class="image">
                <img class="rounded-image" alt="Photo" src="../../../assets/jeko.jpg">
            </div>
            <div class="desc">
                <div class="p-title">Professional career</div>
                <div class="p-section">
                    I've been coding a different
                    kind of stuff in these years. From Back-end API to some plugins for Wordpress.
                </div>
                <div class="p-section">
                    I managed to make a very cool browser game, few years ago. Sadly I've lost everything about it.
                    I've also tried to do something in Unity, but it bored me at the start.
                </div>
            </div>
        </div>
        <div class="web-hz-spacer"></div>
    </div>
</ng-container>