<ng-container *ngIf="isWebView">
  <div class="container">
    <div class="main">
      Hi, my name is Jacopo and I'm a front-end developer. JESUS CHANGE THIS FONT FOR GOD SAKE
    </div>
    <div class="paragraph">
      I've been coding a different
      kind of stuff in these years. From Back-end REST/CRUD API to some plugins for Wordpress.
      I managed to make a very cool browser game, few years ago. Sadly, I've lost everything about it.
      I've also tried to do something in Unity, but it bored me at the start.
    </div>
    <div class="paragraph">
      Now I'm currently working with Angular.
    </div>
  </div>
</ng-container>
