<ng-container *ngIf="isWebView">
    <div class="container">
        <div class="main">
            About me
        </div>
        <div class="sub-title">
            Hi, my name is Jacopo and I'm a front-end web developer.
        </div>
        <div class="section">
            <div class="image">
                <img class="rounded-image" alt="Photo" src="../../../assets/jeko.jpg">
            </div>
            <div class="desc">
                <div class="p-title">Professional career</div>
                <div class="p-section">
                    I've been coding a different
                    kind of stuff in these years. From Back-end API to some plugins for Wordpress.
                </div>
                <div class="p-section">
                    I managed to make a very cool browser game few years ago. Sadly I've lost everything about it.
                    I've also tried to do something in Unity, but it bored me at the start. Right now I'm coding using
                    Angular.
                </div>
            </div>
        </div>
        <div class="web-hz-spacer"></div>
        <div class="section">
            <div class="image">
                <img class="rounded-image" alt="Photo" src="../../../assets/tbs-logo.svg">
            </div>
            <div class="desc">
                <div class="p-title">Musical career</div>
                <div class="p-section">
                    My artist name is <strong>The Brick Slayer</strong>.
                </div>
                <div class="p-section">
                    Since I was a child I loved music and I started producing it in 2007, when my father
                    helped me discovering how electronic music is made. Right now I'm mainly producing
                    EDM and Chillstep songs.
                </div>
                <div class="p-section">
                    <div class="button">
                        Get in touch
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wave">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z "
                style="stroke: none;fill: #00000052;"></path>
        </svg>
    </div>
</ng-container>