@import '../../../palette.scss';

.container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 40px 0px;
  font-family: 'NewYork';
  color: $white;
  user-select: none;
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: $dark-trasparent;
  box-sizing: border-box;
  padding: 0px 10px 10px 10px;
}

.main {
  margin-bottom: 20px;
  text-align: center;
  font-size: 3.3em;
  text-transform: uppercase;
  color: $red;
  font-family: 'Blinker';
}

.sub-title { 
    font-size: 1em;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 30px;
    font-family: 'OpenSans';
}

.paragraph {
    margin-bottom: 13px;
}

.section { 
    display: flex;
    align-items: center;

    .image{
        width: 250px;
        height: 250px;

        .rounded-image { 
            width: 250px;
            height: 250px;
            border-radius: 50%;
            border: 2px solid white;
        }
    }

    .desc { 
        box-sizing: border-box;
        padding: 0px 20px;

        .p-title { 
            font-size: 2em;
            color: $red;
            font-family: 'Blinker';
        }

        .p-section { 
            margin-bottom: 5px;
            text-align: justify;
            font-family: 'OpenSans';
        }
    }
}

.web-hz-spacer{
    margin-left: 34%;
    width: 66%;
    height: 1px;
    background-color: $white-trasparent;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button { 
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: none;
    transition: $standard-translation;
    cursor: pointer;
    border:1px solid $white;
    margin-top: 10px;

    &:hover { 
        background-color: $red;
        border: 1px solid $red;
    }
}

svg {
    display: inline-block;
    top: 0;
    left: 0;
  }
  .wave {
    height: 150px;
    overflow: hidden;
  }